/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/depcomp
/build/install-sh
/build/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/build/Makefile
/build/Makefile.in

/doc/Makefile
/doc/Makefile.in

/src/Makefile
/src/Makefile.in
/src/notbit
/src/notbit-sendmail
/src/notbit-keygen
/src/dump-store

*.o
.deps
