/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build/depcomp
/build/install-sh
/build/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

/src/Makefile
/src/Makefile.in
/src/notbit
/src/dump-store

*.o
.deps
